.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #DDFFDD;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
  
}

.nav-title {
  font-size: 27px;
  font-weight: 700;
  color: green;
  margin-top: 70px;
  
  
  
  
}
/* .nav-title h2{
  text-align: center;
} */

.navLink {
  /* display: inline-block;
  color: #f2f2f2;
  background-color: green;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  /* border: none;
  cursor: pointer;
  outline: 0; */ 

 
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    bottom: 10px;
    
 

}

.navLink:hover {
  background-color: #008183;
}



/* .navLink {
 position: absolute;
 bottom: 10px;
 width: 100%;
 background:  #cccccc;
 } */

 .nav h2{
  margin-left: 15px;
 }



