body, html {
    height: 100%;
  }
  .bg {
    background-image: url("https://www.npws.net/hubfs/Imported_Blog_Media/7-Ways-to-Reduce-the-Carbon-Footprint-of-Your-Marketing-Efforts-Sep-21-2022-09-20-56-16-PM.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }